.App {
  text-align: centre;
  background-color: #2c323d;
  font-size: calc(10px + 2vmin);
  height: 2.5em;
  width: auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  
}
.buttonStyle{
  background-color: #040707;
  border-color: #090d0e;
  color: white;
  border-radius: 25px;
  padding: 5px;
  margin: 1em;
  position: relative;
}
.buttonStyle:hover{
  background-color: #084242;
}

